.App {
  text-align: center;
}
.Header {
  color: white;
  text-shadow: 1px 1px 5px #fff;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 16px 0;
  width: 68%;
}
/* write your parent styles in here for your App.js */


.page-numbers {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  width: 68%;
  margin: auto;
  font-weight: bold;
  text-align: right;
  color: white;
  padding-left: 720px;
}

.number {
  margin-left: 10px;
  cursor: pointer;
}