.characterList {
    width: 80%;
    background-color: red;
    margin: auto;
}

.character {
    display: flex;
    background-color: green;
    width: 70%;
    justify-content: space-around;
    margin: auto;
}

p {
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}